
body{
  min-height: 100%;
  background: rgb(131,58,180);
  background: linear-gradient(145deg, rgba(131,58,180,1) 0%,
  rgba(253,29,29,1) 55%, rgba(252,176,69,1) 100%) fixed;
}

h1{
  color: white;
  font-size: 800%;
  text-align: center;
  padding: 10% 0 0 0;
}

h4{
  font-size: 400%;
  color: white;
  text-align: center;
}

p{
  color: white;
  text-align: center;
}
